@model FlightViewModel
@{
    ViewBag.Title = "Flights";
}

<partial name="_LoadingIndicatorPartial" />
<div class="visually-hidden loadingIndicator">
    <div class="row">
        <div class="col col-md-10 offset-md-1">
            <partial name="_FormSummaryPartial" />
            <div>
                <label for="select-from-city">From: </label>
                <ejs-dropdownlist id="select-from-city" dataSource="@Model.Cities" placeholder="Select a city" filterBarPlaceholder="Search" allowFiltering="true" showClearButton="true" cssClass="e-static-clear">
                    <e-dropdownlist-fields text="Text" value="Value"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div>
                <label for="select-to-city">To: </label>
                <ejs-dropdownlist id="select-to-city" dataSource="@Model.Cities" placeholder="Select a city" filterBarPlaceholder="Search" allowFiltering="true" showClearButton="true" cssClass="e-static-clear">
                    <e-dropdownlist-fields text="Text" value="Value"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <table id="table-flights" class="table table-striped enable-editing">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.DepartureCity)</th>
                        <th>@Html.DisplayNameFor(model => model.ArrivalCity)</th>
                        <th>@Html.DisplayNameFor(model => model.PriceStr)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/29.1.33/bootstrap5.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/loading-indicator.min.css" />
}
@section Scripts {
    <script src="https://cdn.syncfusion.com/ej2/29.1.33/dist/ej2.min.js"></script>
    <ejs-scripts></ejs-scripts>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/loading-indicator.min.js"></script>
    <script src="~/js/editflights-dataTable.min.js"></script>
}